.footer-back-to-top {
    font-size: 24px;
    width: 100%;
    margin: 10px;
    text-align: center;
    a {
        padding: 5px;
        text-decoration: none;
        color: $grey-4;
    }
}

.site-footer {
    padding: 20px;
    a {
        color: $white;
    }
}
