html {
    font-size: 62.5%; /* makes 1em = 10px*/
}

body {
    font-size: 1.6em; /* default font-size to 16px*/
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
}
