$primary-font: 'roboto';
$alt-font: 'lato';

// Colors
$brand-1: #000;
$brand-2: #FECB02;
$brand-3: #CC3400;

$white: #FFF;
$grey-1: #D1D3D4;
$grey-2: #929191;
$grey-3: #717375;
$grey-4: #333333;
$black: #000;

$validation-red: #eb3f1c;
$validation-green: #69bf29;
