.container {
  @extend .block-group;
}

.main,
.sidebar {
  @extend .block;
}

.main {
  width: 100%;
}

@media(min-width:760px) {
  .main--withsidebar {
    width: 100%/12*8;
    padding-right: 20px;
  }

  .sidebar {
    width: 100%/12*4;
    padding-left: 20px;
  }
}
