.wrap {
  padding-bottom: 100px;
}

.wrapper,
.container {
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.container {
    @extend .block-group;
    position: relative;
    .wrapper--normal & {
      max-width: 1000px;
    }
    .wrapper--wide & {
      max-width: 1400px;
    }
}

.container--svg-bg {
    @extend .container;
    max-width: 100% !important;
    position: absolute;
    top: -30px;
    z-index: -1;
    text-align: center;
    svg#bg-svg {
      width: 100%;
      max-width: 630px;
    }
}

.block {
    padding: 10px;
    img {
        width: 100%;
        height: auto;
    }
}

.col-1__block {
  text-align: center;
}

.col-1-1 {
    .block {
        width: 100% / 2 * 1;
        @media(max-width: 600px) {
            width: 100%;
            text-align: center;
        }
    }
}

.col-1-1-1 {
    &__container {
      padding: 120px 0;
    }
    .block {
        width: 100% / 3 * 1;
        @media(max-width: 800px) {
            width: 100% / 2 * 1;
            padding: 0 10px;
        }
        @media(max-width: 560px) {
            width: 100%;
        }
    }
}

.col-1_1-1-1 {
    padding: 140px 0;
    .block {
        width: 100% / 3 * 1;
        @media(max-width: 800px) {
            width: 100% / 2 * 1;
        }
        @media(max-width: 400px) {
            width: 100%;
        }
    }
    .block--wide {
      width: 100%;
    }
}

.col-1-1-1-1 {
    .block {
        width: 100% / 4 * 1;
        @media(max-width: 800px) {
            width: 100% / 2 * 1;
        }
        @media(max-width: 400px) {
            width: 100%;
        }
    }
}

.col-1-G {
    .block--1 {
        width: 38.2%;
    }
    .block--2 {
        width: 61.8%;
    }
}

.col-G-1 {
    .block--1 {
        width: 61.8%;
    }
    .block--2 {
        width: 38.2%;
    }
}

.col-1-2 {
    .block--1 {
        width: 100% / 3 * 1;
    }
    .block--2 {
        width: 100% / 3 * 2;
    }
    @media(max-width: 666px) {
        .block--1,
        .block--2 {
          width: 100%;
        }
    }
}

.col-2-1 {
    .block--1 {
        width: 100% / 3 * 2;
    }
    .block--2 {
        width: 100% / 3 * 1;
    }
}

.col-1-3 {
    .block--1 {
        width: 100% / 4 * 1;
    }
    .block--2 {
        width: 100% / 4 * 3;
    }
}

.col-3-1 {
    .block--1 {
        width: 100% / 4 * 3;
    }
    .block--2 {
        width: 100% / 4 * 1;
    }
    @media (max-width: 760px) {
      .block--1,
      .block--2 {
        width: 100%;
      }
    }
}
